  body {
    background-color: black;
  }
  h3 {
    margin: 5px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
  }
  h1 {
    text-align: center;
    background-color: white;
    color: green;
  }
  p {
    font-size: 20px;
    color:white;
  }
  .center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .card {
    width: 80%;
    height: 80%;
    margin: 20px;
    padding: 20px 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: black;
    border-radius: 5px;
  }